<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TReE'S Decor | Quản Trị</title>
    <link rel="icon" href="https://img.icons8.com/fluent-systems-filled/48/000000/circled-t.png" />
    <link rel="stylesheet" href="~/assets/style.css">
    <link rel="stylesheet" href="~/assets/font/themify-icons/themify-icons.css">

    @*<script src="~/tinymce/js/tinymce/jquery.tinymce.min.js"></script>
        <script>tinymce.init({ seclector: 'textarae' });</script>*@
    <!-- <link rel="stylesheet" href="./assets/jscript.js"> -->

    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />

</head>


<body>
    <section id="sidebar">
        <div class="white-label">
        </div>
        <div id="sidebar-nav">
            <ul>
               
                <li class="active"><a href="#">Menu</a></li>

                <li><a href="@Url.Action("Index", "SanPham")"><i class="fa ti-pencil-alt"></i>Sản Phẩm</a></li>
                <li><a href="@Url.Action( "Index", "NhaCungCap")"><i class="fa ti-flag-alt-2"></i>Nhà Cung Cấp</a></li>
                <li><a href="@Url.Action("Index", "LoaiSanPham")"><i class="fa ti-harddrives"></i>Loại Sản Phẩm</a></li>
                <li><a href="@Url.Action("Isslider", "Admin")"><i class="fa ti-layout-width-default"></i>Slider</a></li>
                <li><a href="@Url.Action("Index", "LIENHE")"><i class="fa ti-mobile"></i>Liên Hệ</a></li>
                <li><a href="@Url.Action("Index", "DoanhThu")"><i class="fa ti-wallet"></i>Đặt Hàng</a></li>
            </ul>
        </div>
    </section>
    <section id="content-1">

        <div id="header">
            <div class="header-nav">
                <div class="menu-button">

                </div>
                <div class="nav">
                    <ul>
                        <li class="nav-settings">
                            <div class="font-icon"><i class="fa ti-layout-cta-btn-left"></i></div>
                        </li>
                        <li class="nav-mail">
                            <div class="font-icon"><i class="fa ti-email"></i></div>
                        </li>
                        <li class="nav-calendar">
                            <div class="font-icon"><i class="fa ti-calendar"></i></div>
                        </li>
                        <li class="nav-chat">
                            <div class="font-icon"><i class="fa ti-comment"></i></div>
                        </li>
                        <li class="nav-profile">
                            <div class="nav-profile-image">
                                <img src="~/assets/img/thuhop.jpg.jpg" alt="profile-img" alt="profile image">
                                <div class="nav-profile-name"><a href="@Url.Action("Login","Admin")">Đăng Xuất</a><i class="fa ti-power-off"></i></div>
                                
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            @*<div class="content-header">
                <h1><b>Dashboard</b></h1>
                <p>
                    <b>welcome admin</b>
                </p>
            </div>*@

        
    

        @RenderBody()


    </section>

    
    <footer >

    </footer>




    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>