@model TReEDeCor.Models.SANPHAM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SANPHAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaLoaiSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoaiSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaNCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giaban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giaban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhSP)
        </dt>

        <dd>
            <img src="@Url.Content("~/Image/IMG-PRODUCT/" +Model.AnhSP)" width="120" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaycapnhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaycapnhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluongton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
