@using TReEDeCor.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<TReEDeCor.Models.SANPHAM>



@{ ViewBag.Title = "Sản Phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

<style>


    h1 {
        padding-top: 50px;
        font-size: 30px;
        color: #000;
        text-transform: uppercase;
        font-weight: 100;
        text-align: center;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 20px;
    }

    a {
        color: #000;
        text-decoration: none;
        font-size: 15px;
    }

        a:hover {
            font-size: 15px;
            color: peru;
            text-decoration: none;
        }

    table {
        width: 100%;
        table-layout: fixed;
    }

    .tbl-header {
        background-color: #000;
        color: #fff;
    }

    .tbl-content {
        height: 355px;
        overflow-y: scroll;
        overflow-x: scroll;
        margin-top: 1px;
        border: 1px solid rgba(223, 184, 145, 0.3);
        /*    width: 100%;*/
    }

    th {
        padding: 20px 0px 20px 1px;
        text-align: center;
        font-weight: 500;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
    }

    td {
        padding: 1px;
        text-align: center;
        vertical-align: middle;
        font-weight: 400;
        font-size: 14px;
        color: #000;
        width: 117px;
        height: 121px;
        border-bottom: solid 1px peru;
    }

    section .toan {
        margin: 0px;
        background: -webkit-linear-gradient(left, rgb(243, 243, 243), #fff);
        background: linear-gradient(to right, rgb(246, 247, 246), #fff);
        font-family: 'Roboto', sans-serif;
    }


    .MenuTrang li {
        display: inline;
    
        padding: 6px;
   
     
        color: #fff;
    }
    .MenuTrang li a {
       
        color: #fff;
    }
        .MenuTrang li:hover {
            padding: 10px;
            color: #fff;
           
            font-weight:bold;
            background: peru;
            border: 0.7px solid rgba(168, 162, 162, 0.5);
        }


       
</style>



<section class="toan">
    <!--for demo wrap-->
    <h1>Bảng sản Phẩm</h1>
    <h2><i> @Html.ActionLink("Thêm Mới Sản Phẩm", "Create")</i></h2>
    @using (Html.BeginForm("Index", "SanPham", FormMethod.Post, new { @class = "navbar-form navbar-right" }))
    {
        <div class="row">
            <div class="col-md-10" style="padding-left:700px; background-color:peru">
                <div class="timkiem">
                    <input type="text" name="search" style="width:350px;height:35px ; background-color:white;color:darkslategrey;border-radius:50px;
; border:double;" />
                   
                </div>
            </div>
            <div class="col-md-2" style="padding-left:100px;">
                <button type="submit" style="height: 35px; background-color: black; color: white; border-top-right-radius: 20px; border-bottom-right-radius: 20px" class="fa ti-search"></button>
            </div>
        </div>
    }

    <div class="tbl-header">
        <table cellpadding="0" border="0">
            <thead>
                <tr>
                    <th style="width: 101px;">Mã Loại Sản Phẩm</th>
                    <th style="width: 121px;">Mã Nhà Cung Cấp</th>
                    <th style="width: 125px;">Tên Sản Phẩm</th>
                    <th style="width: 125px;">Giá Bán</th>
                    <th style="width: 108px;">Mô Tả</th>
                    <th style="width: 104px;">Ảnh Sản Phẩm</th>
                    <th style="width: 107px;">Ngày Cập Nhật</th>
                    <th style="width: 147px;">Số Lượng Tồn Kho</th>
                    <th style="width: 84px;">Trạng Thái</th>
                    <th style="width: 29px;"></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        @foreach (var item in Model)
        {

            <table cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaLoaiSP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaNCC)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenSP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Giaban)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mota)
                        </td>
                        <td>
                            <img src="@Url.Content("~/Image/IMG-PRODUCT/"+ item.AnhSP)" />

                        </td>
                        <td>
                            @String.Format("{0:dd/MM/yyyy}", item.Ngaycapnhat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Soluongton)W
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrangThai)
                        </td>
                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { id = item.MaSP }) |
                            @Html.ActionLink("Chi Tiết", "Details", new { id = item.MaSP }) |
                            @Html.ActionLink("Xóa", "Delete", new { id = item.MaSP })
                        </td>
                    </tr>
                </tbody>
            </table>}

    </div>


</section>

    <div style="text-align:center ; background:#000; color:#fff ; padding:10px ">
        Trang @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber)/@Model.PageCount
        <div class="MenuTrang " style="padding-top: 5px; border: 0.7px solid rgba(168, 162, 162, 0.5); ">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
        </div>
    </div>
