@model IEnumerable<TReEDeCor.Models.NGUOIDUNG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Quản lý khách hàng</h2>
<p>
    @Html.ActionLink("Tạo Mới", "Create")
</p>

<table class="table table-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col"> @Html.DisplayNameFor(model => model.HoTen)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Email)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Diachi)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Dienthoai)</th>
            <th scope="col">Thao Tác</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.HoTen)</td>
                <td> @Html.DisplayFor(modelItem => item.Email))</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diachi)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Dienthoai)</td>
                <td>
                    <span>

                    @Html.ActionLink("Chi Tiết", "Details", new { id = item.MaKH }) 
                    </span>
                    <span>

                    @Html.ActionLink("Xóa", "Delete", new { id = item.MaKH })
                    </span>
                </td>
            </tr>
        }

    </tbody>
</table>

<style>
    p {
        display: inline-block;
        padding: 0.5rem 0.8rem;
        background-color: #ccc;
        border-radius: 0.5rem;
    }

    p a {
        font-size: 1.2rem;
        color: #fff;
    }

    table {
       margin: 0 auto;
    }

    table thead tr {
        background-color: #000;
    }

    table thead tr th {
       color: #ccc;
       padding: 0.5rem 3rem;
    }

    tbody tr td {
        text-align: center;
        padding: 1.2rem 1rem;
        background-color: #f1f1f1;
    }


        tbody tr td span {
            padding: 0.5rem 0.8rem;
            background-color: #f7941d;
            border-radius: 0.5rem;
            margin: 0.2rem;
        }

            tbody tr td span:first-child {
                background-color: #2ebfea;
            }

            tbody tr td span:last-child {
                background-color: #ff0000;
            }

            tbody tr td span a {
                color: #fff;
            }
</style>
