@model IEnumerable<TReEDeCor.Models.SLIDER>

@{ ViewBag.Title ="Quản Lý Slider";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

<style>


    h1 {
        padding-top: 50px;
        font-size: 30px;
        color: #000;
        text-transform: uppercase;
        font-weight: 100;
        text-align: center;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 20px;
    }

    a {
        color: #000;
        text-decoration: none;
        font-size: 15px;
    }

        a:hover {
            font-size: 15px;
            color: peru;
            text-decoration: none;
        }

    table {
        width: 100%;
        table-layout: fixed;
    }

    .tbl-header {
        background-color: #000;
        color: #fff;
    }

    .tbl-content {
        height: 430px;
        overflow-y: scroll;
        overflow-x: scroll;
        margin-top: 1px;
        border: 1px solid rgba(223, 184, 145, 0.3);
        width:100%;

    }

    th {
        padding: 20px 24px 20px 1px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
    }

    td {
        padding: 3px;
        text-align: center;
        vertical-align: middle;
        font-weight: 300;
        font-size: 14px;
        color: #000;
        border-bottom: solid 1px peru;
    }


    section .toan {
        margin: 0px;
        background: -webkit-linear-gradient(left, rgb(243, 243, 243), #fff);
        background: linear-gradient(to right, rgb(246, 247, 246), #fff);
        font-family: 'Roboto', sans-serif;
    }
</style>

<section class="toan">

    <h1>Bảng Slider</h1>
    <h2><i>@Html.ActionLink("Thêm Mới Sản Phẩm", "Slider_Create")</i>  </h2>
    <div class="tbl-header">
        <table cellpadding="0" border="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LoaiSlider)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TenSP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CapSP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AnhSP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vitri)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Noidung1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Noidung2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Noidung3)
                    </th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        @foreach (var item in Model)
        {

<table cellpadding="0" border="0">
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiSlider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapSP)
            </td>
            <td>
                <img src="@Url.Content("~/Image/Tinmain1/" + item.AnhSP)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vitri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Noidung1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Noidung2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Noidung3)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Slider_Edit", new { id = item.MaSlider }) |
                @Html.ActionLink("Chi Tiết", "Slider_Details", new { id = item.MaSlider }) |
            </td>
        </tr>
    </tbody>
</table>}
    </div>
</section>
