@model TReEDeCor.Models.LOAISANPHAM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LOAISANPHAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLoaiSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoaiSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhLoaiSP)
        </dt>

        <dd>
            <img src="@Url.Content("~/Image/IMG-PRODUCT/" +Model.AnhLoaiSP)" width="120" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaLoaiSP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
