@model IEnumerable<TReEDeCor.Models.LOAISANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" border="1">
    <tr>
        <th style="width:200px">Tên Loại Sản Phẩm</th>
        <th style="width:100px">Ảnh Loại Sản Phẩm</th>
        <th style="width:300px">Mô Tả</th>
        <th></th>
        @*<th>
            @Html.DisplayNameFor(model => model.MaNCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenLoaiSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnhLoaiSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mota)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoaiSP)
        </td>
        <td>
            <img src="@Url.Content("~/Image/IMG-PRODUCT/" + item.AnhLoaiSP)" />
            @*@Html.DisplayFor(modelItem => item.AnhLoaiSP)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mota)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaLoaiSP }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaLoaiSP }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaLoaiSP })
        </td>
    </tr>
}

</table>
