
@{
    ViewBag.Title = "Đăng Nhập";
    Layout = "~/Views/_LayoutPhroduct.cshtml";
    <link href="~/MyCSS/dangnhap.css" rel="stylesheet" />
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <section-contact>

        <div class="img-bg">
            <img src="~/Image/banner.jpg"
                 alt="Hình Ảnh Minh Họa">
        </div>

        <div class="noi-dung">
            <div class="form">
                <h2> Đăng Nhập</h2>
                <form action="">
                    <div class="input-form">
                        <span><b>Họ & Tên </b></span>
                        <input type="text" name="TenDangNhap">
                        @ViewData["loi1"]
                    </div>
                    <div class="input-form">
                        <span><b>Mật Khẩu</b></span>
                        <input type="password" name="MatKhau">
                        @ViewData["loi2"]
                    </div>
                    <h6 style="color:red; text-align:center">@ViewBag.ThongBao</h6>
                    <div class="nho-dang-nhap">
                        <label><input type="checkbox" name=""> Nhớ Đăng Nhập</label>
                    </div>
                    <div class="input-form">
                        <input type="submit" value="Đăng Nhập">
                    </div>
                    <div class="input-form">
                        <p><i>Bạn Chưa Có Tài Khoản?</i> <a href=" @Url.Action("DangKy","NguoiDung")"><b>Đăng Ký</b></a></p>
                    </div>
                </form>
                <h3>Đăng Nhập Bằng Mạng Xã Hội</h3>
                <ul class="icon-dang-nhap">
                    <li><i class="fa ti-facebook" aria-hidden="true"></i></li>
                    <li><i class="fa ti-google" aria-hidden="true"></i></li>
                    <li><i class="fa ti-twitter" aria-hidden="true"></i></li>
                </ul>
            </div>
        </div>

    </section-contact>
}
@*@using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <tr style="height:40px">
            <td>Tên Đăng Nhập:</td>
            <td>@Html.TextBox("TenDangNhap") @ViewData["loi1"]</td>
        </tr>
        <tr style="height:40px">
            <td>Mật Khẩu:</td>
            <td>
                @Html.Password("MatKhau")
                @ViewData["loi2"]
            </td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td>
                <input type="submit" value="Đăng Nhập" />
            </td>

        </tr>
    }
    </table>
    <p style="text-align:center"><a href="https://localhost:44321/nguoidung/dangky"><b>Đăng Ký Tài Khoản</b></a></p>*@


