
@{ ViewBag.Title = "Contact";
    Layout = "~/Views/_LayoutPhroduct.cshtml"; }
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/_LayoutPhroduct.cshtml";
}
<style>                                                  
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Tahoma, sans-serif;
    }

    section-contact {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
    }

        section-contact .img-bg {
            position: absolute;
            z-index: -2;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }



            section-contact .img-bg iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
            }

    iframe {
        border: none !important;
    }

    section-contact .noi-dung {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 570px;
        background: #fff;
        border-radius: 10px;
        height: 610px;
        z-index: 0;
    }

        section-contact .noi-dung .form {
            width: 50%;
        }


            section-contact .noi-dung .form h2 {
                color: #607d8b;
                font-weight: 500;
                font-size: 2em;
                text-transform: uppercase;
                margin-bottom: 20px;
                border-bottom: 4px solid peru;
                display: inline-block;
                letter-spacing: 1px;
                text-align: center;
            }

            section-contact .noi-dung .form .input-form {
                margin-bottom: 20px;
            }


                section-contact .noi-dung .form .input-form span {
                    font-size: 18px;
                    margin-bottom: 5px;
                    display: inline-block;
                    color: #000;
                    letter-spacing: 1px;
                }

                section-contact .noi-dung .form .input-form input {
                    width: 100%;
                    padding: 10px 20px;
                    outline: none;
                    border: 1px solid #000;
                    font-size: 18px;
                    letter-spacing: 1px;
                    color: #000;
                    background: transparent;
                    border-radius: 30px;
                }

                    section-contact .noi-dung .form .input-form input[type="submit"] {
                        background: peru;
                        color: #fff;
                        outline: none;
                        border: none;
                        font-weight: 500;
                        cursor: pointer;
                        box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
                    }

                        section-contact .noi-dung .form .input-form input[type="submit"]:hover {
                            background: #000;
                        }



    textarea {
        outline: none;
        border: none;
    }

        textarea:focus, input:focus {
            border-color: #000;
        }

    .input100 {
        font-family: Poppins-Regular;
        font-size: 18px;
        color: #000;
        line-height: 1.2;
        display: block;
        width: 100%;
        background: #fff;
        padding: 0 5px;
        border: 1px solid #000;
    }

    input.input100 {
        height: 45px;
        border: 1px solid #000;
    }

    textarea.input100 {
        min-height: 115px;
        padding-top: 14px;
        padding-bottom: 13px;
        border: 1px solid #000;
    }
</style>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <section-contact>

        <div class="img-bg">


            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4212567750174!2d106.78340691474968!3d10.855529592267873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5fb58956eb4194d0!2zxJDhuqFpIEjhu41jIEh1dGVjaCBLaHUgRQ!5e0!3m2!1svi!2s!4v1625762241208!5m2!1svi!2s" width="1519" height="748" style="border:0;" allowfullscreen="" loading="lazy"></iframe>



        </div>

        <div class="noi-dung">
            <div class="form">
                <h2>Contact</h2>
                <form action="">
                    <div class="input-form" data-validate="Name is required">
                        <span><b>Họ & Tên </b></span>
                        <input type="text" name="name">
                        @ViewData["loi1"]
                    </div>
                    <div class="input-form" data-validate="Valid email is required: ThuHop@gmail.com">
                        <span><b>Email</b></span>
                        <input type="email" name="email">
                        @ViewData["loi2"]
                    </div>
                    <div class="input-form" data-validate="Phone is required">
                        <span><b>SĐT </b></span>
                        <input type="text" name="phone" min="10" max="11">
                        @ViewData["loi3"]
                    </div>
                    <div class="input-form" data-validate="Message is required">
                        <span><b>Ghi chú</b></span>

                        <textarea class="input100" name="message" placeholder=""></textarea>
                        @ViewData["loi4"]
                    </div>

                    <div class="input-form ">
                        <input type="submit" value="Gửi ">
                    </div>

                </form>

            </div>
        </div>

    </section-contact>
}






