@model IEnumerable<TReEDeCor.Models.DONDATHANG>

@{
    ViewBag.Title = "Quản Lý Đơn Đặt Hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>


    h1 {
        padding-top: 50px;
        font-size: 30px;
        color: #000;
        text-transform: uppercase;
        font-weight: 100;
        text-align: center;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 20px;
    }

    a {
        color: #000;
        text-decoration: none;
        font-size: 15px;
    }

        a:hover {
            font-size: 15px;
            color: peru;
            text-decoration: none;
        }

    table {
        width: 100%;
        table-layout: fixed;
    }

    .tbl-header {
        background-color:black;
        color: #fff;
    }

    .tbl-content {
        height: 355px;
        overflow-y: scroll;
        overflow-x: scroll;
        margin-top: 1px;
        border: 1px solid rgba(223, 184, 145, 0.3);
        /*    width: 100%;*/
    }

    th {
        padding: 20px 0px 20px 1px;
        text-align: center;
        font-weight: 500;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
    }

    td {
        padding: 1px;
        text-align: center;
        vertical-align: middle;
        font-weight: 400;
        font-size: 14px;
        color: #000;
        width: 117px;
        height: 121px;
        border-bottom: solid 1px peru;
    }

    section .toan {
        margin: 0px;
        background: -webkit-linear-gradient(left, rgb(243, 243, 243), #fff);
        background: linear-gradient(to right, rgb(246, 247, 246), #fff);
        font-family: 'Roboto', sans-serif;
    }


    .MenuTrang li {
        display: inline;
        padding: 6px;
        color: #fff;
    }

        .MenuTrang li a {
            color: #fff;
        }

        .MenuTrang li:hover {
            padding: 10px;
            color: #fff;
            font-weight: bold;
            background: peru;
            border: 0.7px solid rgba(168, 162, 162, 0.5);
        }
</style>



<section class="toan">
    <!--for demo wrap-->
    <h1>Đặt Hàng</h1>
    @using (Html.BeginForm("Index", "DoanhThu", FormMethod.Post, new { @class = "navbar-form navbar-right" }))
    {
        <div class="row">
            <div class="col-md-10" style="padding-left:850px; background-color:peru">
                <input type="text" name="search" style="width:350px;height:35px ; background-color:white;color:darkslategrey;border-radius:50px; border:double;" />
            </div>
            <div class="col-md-2" style="padding-left:100px;">
                <button type="submit" style="height: 35px; background-color: black; color: white; border-top-right-radius: 20px; border-bottom-right-radius: 20px" class="fa ti-search"></button>
            </div>
        </div>
    }
    <div class="tbl-header">
        <table cellpadding="0" border="0">
            <thead>
                <tr>
                    <th style="width: 101px;">Mã Khách Hàng</th>
                    <th style="width: 121px;">Ngày Đặt</th>
                    <th style="width: 125px;">Ngày Giao</th>
                    <th style="width: 125px;">Số Điện Thoại</th>
                    <th style="width: 108px;">Địa Chỉ</th>
                    <th style="width: 104px;">Ghi Chú</th>
                    <th style="width: 107px;">Thành Tiền</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        @foreach (var item in Model)
        {
            <table cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaKH)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ngaydat)
                        </td>
                        <td>
                            @String.Format("{0:dd/MM/yyyy}", item.Ngaygiao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sdtnhanhang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Diachigiaohang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ghichu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Thanhtien)
                        </td>
                    </tr>
                </tbody>
            </table>}
    </div>
</section>

